h1 {
    font-size: 30px;
    color: #E0330C;
}

.content {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 500px;
    min-height: 300px;
    padding: 15px;
    border-radius: 20px;
    background-color: #EEEEEE;
}

.profile-picture {
    float: right;
    border: 1px solid #E0330C;
}
