.content {
    border: 1px solid Green;
    min-height: 300px;
}

.navigation {
    border: 1px solid Blue;
}

@media screen and (min-width: 35.5em) { /* same as pure-u-sm  */
    .navigation {
        margin-top: 2em;
    }
}

h1 {
    font-size: 30px;
    color: #E0330C;
}

.profile-picture {
    float: right;
    border: 1px solid #E0330C;
}
