<h1>Pictures I like</h1>

<div class="album">
<% for picture in @pictures %>
    <div class="album-caption">
        <a href="<%= picture[:page_url] %>"><img class="album-photo" src="<%= picture[:picture_url] %>"></a>
        <br><%= picture[:comments] %> comments
    </div>
<% end %>
</div>
