.content {
    position: absolute;
    top: 30px;
    left: 150px;
    width: 500px;
    min-height: 300px;
    padding: 15px;
    border-radius: 20px;
    background-color: #EEEEEE;
}

.navigation {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 140px;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    font-size: 20px;
    line-height: 30px;
}

.navigation a {
    text-decoration: none;
    color: #E0330C;
}

.navigation a:hover {
    color: #F09986;
}

h1 {
    font-size: 30px;
    color: #E0330C;
}

.profile-picture {
    float: right;
    border: 1px solid #E0330C;
}

.album-photo {
    height: 150px;
    margin: 3px;
    border: 1px solid #CCCCCC;
    padding: 5px;
    background-color:  #FFFFFF;
    box-shadow: 3px 5px 8px #BBBBBB;
}

.full-photo {
    width: 100%;
}

.add-comment input, .add-comment textarea {
    width: 40ch;
}

.add-comment textarea {
    height: 3em;
}
